@media print {
  body {
    font-size: 11pt;
    .page-header h2 {
      font-size: 16pt;
    }
    .page-header h3 {
      font-size: 20pt;
    }
    h1 {
       font-size: 20pt;
    }
    h2 {
       font-size: 18pt;
    }
    h3 {
       font-size: 15pt;
    }
    h4 {
       font-size: 13pt;
    }
    h5 {
       font-size: 12pt;
    }
    h6 {
       font-size: 11pt;
    }
    
  }

}