table {
	width: 100%;
	margin-bottom: 1.75em;
	border: 1px solid #eee;
	font-size: 15px;
}

tr {
	border-bottom: 1px solid #EEE;
}

tr:nth-child(even) {
	background: #fcfcfc;
}

td, th {
	padding: 8px;
	text-align: left;
}

th {
	padding-bottom: 4px;
}
